@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");

.escolha{
  background-color:#FBFBFB;
  border: solid 1px #bebebe;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  font-weight:700;
  color:#BEBEBE;
}

input[type="radio"]:checked +label{
    background-color:#FEE0DE;
    border: solid 1px #DE382B;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    font-weight:700;
    color:#D81A0B;
}