.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #CD322B;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    background-color: rgb(236, 236, 236);
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}