.hamburguer-menu {
    transform: translate(-100%, 0%);
}

#toggle:checked ~ .hamburguer-menu{
    transform: translate(0, 0%);
}

.nav-mobile > * {
    border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
    text-transform:uppercase;
    padding: 1em;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.nav-mobile i {
    font-size: 1.5em;
}